{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>

    <p>
    	The purpose of this page is to distribute surplus scout stuff to scouts.
    	To protect the identity of scouts, we have given each boy a codename. For example, a boy named Fred might be given the codename, 'Fried.' Fred should enter his codename when making his bid.  Each boy should have been emailed his codename and current scoutbuck total.  If this is not the case, the scout in question should email Jeffrey to get his info.
    	Good luck!


    </p>
{% endblock content %}
